.modal {
    position: absolute;
    background-color: white;
    border: 1px solid #dddddd;
    right: 210px;
    top: -60px;
    width: 500px;
    height: 700px;
    padding: 10px;
    z-index: 1;
    text-align: center;
}

// .buy-btn:focus::after {
//     content: "✅";
// }


#root > div > main > section > div > div.item-container > div.item-subcontainer > div.txt-container > div.modal > button {
    background-color: green;
    color:white;
    font-size: 1.1rem;
}