.modal {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid rgb(221, 221, 221);
    right: 340px;
    top: 400px;
    width: 400px;
    height: 250px;
    opacity: 0.99;
    border-radius: 30px;
    padding: 10px;
}