header {
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
    }
}
nav {
    padding: 5px 0;
}
nav a {
    padding: 0 5px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(60, 88, 209);
}
nav .active {
    color: rgb(71, 71, 71)
}
#root > div > header {
    grid-column: 1/-1;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 20px 0px;
    height: 60px;
    color: #9ac7f0;
}

.logo {
    font-family: 'IndieFlower',sans-serif;
    font-size: 1.5rem;
    color: #9ac7f0;
    span{
        font-family: 'PottaOne',sans-serif;
        color: rgb(71, 71, 71);
    }
    .pic{
        font-family: 'PottaOne',sans-serif;
        color: rgb(60, 88, 209);
    }
    .art{
        font-family: 'PottaOne',sans-serif;
        color:rgb(90, 68, 124);
    }

}