.item-preview {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  break-inside: avoid;
}

.items-btns {
  text-align: center;
  display: flex;
}

// .MuiButton-label {
//   font-size: 1.3rem;
//   opacity: 0.5;
//   &:hover {
//     opacity: 1;
//   }
// }
img.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 10px;
  object-fit: cover;
}

.card-info {
  display: flex;
  align-items: center;
  height: 40px;
  // margin-bottom: 10px;
  justify-content: space-between;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: cursive;
  }



  // .heart-icon:hover{

  // }
}

.item-img {
  width: 100%;
  transition: 0.3s;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    transform: scale(1.02);
    stroke-opacity: black;
  }
}

.heart-icon {
  width: 40px;
}