* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

::selection {
    background-color: #00dbf1;
    color: white;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.appStore {
    margin: 5px 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(auto, 1040px) minmax(2rem, 1fr);
    > * {
        grid-column: 2;
    }
    > .item-details {
        margin-bottom: 20px;
    }
}
#root {
    // min-height: 100vh;
    // grid-template-rows: auto 1fr auto;
    padding-top: 0px;
}
