.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $max-breakpoint) minmax(20px, 1fr);
    }
}

.item-details {
    column-count: 4;
}


#root > div > main > section > div > div.seller-items.more-details > div.item-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#root > div > main > section > div > div.seller-items.more-details > div.item-details > * {
    width: 30%;
}
