.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-mobile-layout {
        
    }
    @include for-narrow-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
       
    }

    @include for-normal-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
        // .item-subcontainer{
        //     flex-direction: row;
        //     .img-container{
        //         width: 50%;
        //     }
        //     .txt-container{
        //         width: 50%;
        //         padding: 0 0 0 2rem;
        //         margin-left: 1rem;
        //     }
        // }
        //     .seller-list {
        //     column-count: 4;
        //     }
        //     .appStore{
        //         .item-details {
        //             column-count: 4;
        //         }
        //         }
       
    }

    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    //     .item-subcontainer{
    //         flex-direction: row;
    //         .img-container{
    //             width: 50%;
    //         }
    //         .txt-container{
    //             width: 50%;
    //             padding: 0 0 0 2rem;
    //             margin-left: 1rem;
    //         }
    //     }
    //         .seller-list {
    //         column-count: 4;
    //         }
    //         .appStore{
    //             .item-details {
    //                 column-count: 4;
    //             }
    //             }
    // }
    // @include for-wide-layout {
    //     grid-template-columns: minmax(20px, 1fr) minmax(auto, $max-breakpoint) minmax(20px, 1fr);
    //     .item-subcontainer{
    //         flex-direction: row;
    //         .img-container{
    //             width: 50%;
    //         }
    //         .txt-container{
    //             width: 50%;
    //             padding: 0 0 0 2rem;
    //             margin-left: 1rem;
    //         }
    //     }
    //         .seller-list {
    //         column-count: 4;
    //         }
    //         .appStore{
    //             .item-details {
    //                 column-count: 4;
    //             }
    //             }
    }
}





