.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-mobile-layout {
        .item-subcontainer{
            flex-direction: column;
            .img-container{
                width: 100%;
            }
            .txt-container{
                width: 100%;
            }
            .seller-list {
                column-count: 2;
            }
        }
    }
    @include for-narrow-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
        .item-subcontainer{
            flex-direction: column;
            .img-container{
                width: 100%;
            }
            .txt-container{
                width: 100%;
            }
        }
        .seller-list {
            column-count: 2;
        }
    }

    @include for-normal-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
        .item-subcontainer{
            flex-direction: row;
            .img-container{
                width: 50%;
            }
            .txt-container{
                width: 50%;
            }
        }
        .seller-list {
            column-count: 4;
        }
    }

    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $max-breakpoint) minmax(20px, 1fr);
    }
}

.item-details {
    column-count: 4;
}


// #root > div > main > section > div > div.seller-items.more-details >div.seller-list>{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     column-count: 4;
//     // break-inside: avoid;
// }
// #root > div > main > section > div > div.seller-items.more-details >div.seller-list>* {
 
//     width: 30%;
// }
