@media screen and (max-width: 680px) {
    .item-details {
        column-count: 2;
    }
    .appStore {
        display: inline-block;
        padding: 20px;
    }
    .hero {
        height: 45vh;
    }
    .btn-hamburger {
        display: block;
        fill:blue;
    }
    .nav-bar {
        display: none;
    }
    .item-filter-container {
        width: 80vw;
    }
}

@media screen and (max-width: 540px) {
    .item-details {
        column-count: 1;
    }
    .btn-hamburger {
        display: block;
        fill:blue;
    }
    .nav-bar {
        display: none;
    }
    .item-filter-container {
        width: 80vw;
    }
}

